body {
  padding-top: 0px;
  background-color: #999;
  background-image: url("../img/background.png");
  background-position: 0px 0px;
  font: 13px/1.5 'Droid Sans',Arial,'Liberation Sans',FreeSans,sans-serif;
}

.container {
  margin: 30px auto;
  background-color: rgb(78, 101, 125);
  padding: 0px;
  border-radius: 8px;
  -webkit-border-radius: 6px;
  border: 1px solid #333;
  box-shadow: 3px 3px 8px rgb(68, 68, 68);
}

.container .inner {
  background-color: #eee;
  padding: 20px;
}

/* Main marketing message and sign up button */
.container .jumbotron {
  text-align: right;
  background: url("../img/overlord-banner-1180px.png") no-repeat left top;
  border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  height: 110px;
  padding-right: 160px;
  margin-bottom: 0px;
}

.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
  width: 200px;
  
  background-color: hsl(360, 50%, 29%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bb3e3e", endColorstr="#6e2424");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bb3e3e), to(#6e2424));
  background-image: -moz-linear-gradient(top, #bb3e3e, #6e2424);
  background-image: -ms-linear-gradient(top, #bb3e3e, #6e2424);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bb3e3e), color-stop(100%, #6e2424));
  background-image: -webkit-linear-gradient(top, #bb3e3e, #6e2424);
  background-image: -o-linear-gradient(top, #bb3e3e, #6e2424);
  background-image: linear-gradient(#bb3e3e, #6e2424);
  border-color: #6e2424 #6e2424 hsl(360, 50%, 24%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.jumbotron .btn:hover {
  background-color: hsl(360, 52%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b23838", endColorstr="#641f1f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b23838), to(#641f1f));
  background-image: -moz-linear-gradient(top, #b23838, #641f1f);
  background-image: -ms-linear-gradient(top, #b23838, #641f1f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b23838), color-stop(100%, #641f1f));
  background-image: -webkit-linear-gradient(top, #b23838, #641f1f);
  background-image: -o-linear-gradient(top, #b23838, #641f1f);
  background-image: linear-gradient(#b23838, #641f1f);
  border-color: #641f1f #641f1f hsl(360, 52%, 21%);
}

h1.page-heading {
	display: none;
}

.nav {
  padding-top: 5px;
  padding-left: 3px;
}

.nav-pills li a {
  border-radius: 6px 6px 0px 0px;
}

.nav a {
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px 1px #222;
  font-weight: bold;
  background: transparent !important;
}

.nav a:hover {
  color: rgb(78, 101, 125); /* Same as container bg */
  background: rgb(218, 218, 218) !important;
  text-shadow: none;
}

.nav-pills li.active a, .nav-pills li.active a:hover {
  color: rgb(78, 101, 125); /* Same as container bg */
  background: rgb(238, 238, 238) !important;
  text-shadow: none;
}

.inner .projects, .inner .features {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
}
.inner .projects .pitem h3, .inner .features .fitem h3 {
  border-bottom: 1px solid rgb(221, 221, 221);
  color: #a44;
}
.inner .projects .pitem p, .inner .features .fitem p {
  line-height: 18px;
}

.inner .community {
  padding-top: 10px;
  background-color: transparent;
  padding: 20px;
}

.inner .community .citem {
  padding: 6px;
  padding-bottom: 15px;
}

.inner .community .citem h3 {
  text-shadow: 1px 1px 1px white;
  border-bottom: 1px solid #ddd;
}

.inner .community .citem .version {
  font-weight: bold;
  color: #444;
}

.inner .community .citem p {
  line-height: 16px;
}

.inner .community .citem .links {
  color: #666;
}

.inner .community .citem .links a {
  font-weight: bold;
}

.inner .community .citem .project-description p {
  line-height: 18px;
  padding: 8px;
}

.footer {
  border-top: 1px solid black;
  color: white;
  padding: 30px;
  font-size: 14px;
  line-height: 16px;
  text-shadow: 1px 1px 1px #222;
}

.footer .row {
    margin-bottom: 50px;
}

.footer a {
    font-weight: bold;
    color: #fff;
}

.footer h4 {
    margin-top: 0;
    border-bottom: 1px solid #fff;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .copyright {
    font-size: 10px;
}


@media ( min-width : 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified>li>a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  .nav-justified>li:first-child>a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified>li:last-child>a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and ( min-width: 768px ) {
}


@media ( max-width: 767px ) {
  .container {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    margin-top: 0px;
  }
  .container .jumbotron {
    border-radius: 0px;
    -webkit-border-radius: 0px;
  }
  .inner .features {
    padding: 20px;
    padding-top: 0px;
  }
}


@media ( max-width: 480px ) {
  .hide-480 {
    display: none;
  }
  .inner .projects {
    padding-left: 5px;
    padding-right: 5px;
  }
  .inner .community {
    padding: 5px;
  }
}
