      </div> <!-- end inner -->
      <div class="footer">
        <div class="row">
          <div class="col-lg-3">
            <h4>Overlord Projects</h4>
            <ul>
                <li><a href="/s-ramp">S-RAMP</a></li>
                <li><a href="/dtgov">Design Time Governance</a></li>
                <li><a href="/rtgov">Runtime Governance</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Get Involved</h4>
            <ul>
                <li><a href="/contribute.html">Contribute</a></li>
                <li><a href="https://issues.jboss.org">Report a Bug</a></li>
                <li><a href="#">Chat on IRC</a></li>
                <li><a href="https://community.jboss.org/en/overlord">User Forum</a></li>
                <li><a href="https://community.jboss.org/en/overlord/dev">Developer Forum</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="http://jboss-overlord.blogspot.com">Blog</a></li>
                <li><a href="https://twitter.com/OverlordSRAMP">@OverlordSRAMP</a></li>
                <li><a href="https://twitter.com/OverlordDTGov">@OverlordDTGov</a></li>
                <li><a href="https://twitter.com/OverlordRTGov">@OverlordRTGov</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            The <a href="https://github.com/Governance/Governance.github.io">Overlord website is also open source</a>!  If you'd like to help us by improving it, <a href="https://github.com/Governance/Governance.github.io">fork, hack, and submit a pull request</a>!  Contributions are extremely appreciated!
          </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="pull-left copyright">
            &copy; Copyright 2014 Red Hat, Inc.<br/>
            Overlord code is open source and released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>. 
        </div>
        <div class="pull-right">
          <a href="http://www.redhat.com"><img src="/img/redhat_logo.png"/></a>
          <a href="http://www.jboss.org"><img src="/img/jbossbadge.png"/></a>
        </div>
        
        <div class="clearfix"></div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
