<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.png">

    <title>{{ page.title }}</title>

    <link href="/lib/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="/css/overlord-web.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/lib/bootstrap-3.1.1/js/bootstrap.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="jumbotron" style="position:relative">
        <a class="btn btn-lg btn-success" href="https://github.com/Governance/overlord#getting-started-from-source">Get Started Now</a>
        <a href="https://github.com/Governance/{{ page.subproject }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme_right_red_aa0000.png" alt=""></a>
      </div>

	  <ul class="nav nav-tabs">
	    {% assign active = nil %}
        {% if page.url == "/index.html" %}
          {% assign active = 'active' %}
        {% endif %}
        <li class="{{ active }}">
          <a href="/">Home</a>
        </li>

	    {% for navElement in site.nav %}
	      {% assign active = nil %}
	      {% if page.url contains navElement.url %}
	        {% assign active = 'active' %}
	      {% endif %}
	      <li class="{{ active }}">
	        {% if navElement.subnav == nil %}
	          <a href="{{ navElement.url }}">{{ navElement.title }}</a>
	        {% else %}
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ navElement.title }} <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            {% for subnavElement in navElement.subnav %}
	              <li>
	                <a href="{{ subnavElement.url }}">{{ subnavElement.title }}</a>
	              </li>
	            {% endfor %}
	          </ul>
	        {% endif %}
	      </li>
	    {% endfor %}
	  </ul>

      <div class="inner">

        <!-- CSS hides this, but leaving it here for SEO. -->
        <h1 class="page-heading">{{ page.title }}</h1>